.spinner {
    border: 10px solid rgba(0, 0, 0, 0.3);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border-left-color: royalblue ;

    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg)
    }
}